
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
display: grid;    
grid-template-columns: repeat(4,1fr);
grid-template-rows: 150px auto auto auto;
grid-template-areas: "nav   nav      nav    nav"
                     "main  main    main    main"
                     "aside  aside  aside    aside"
                     "footer footer footer footer";
gap: 0.3px;

color: white;
}



nav {
    grid-area: nav;
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-bars{
    display: none;

}

.menu {
        display: flex;
}

    .menuLogo {    
    
    display: flex;
    }

    .menuLink {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 85%;
        }

            a:link {
                color: white;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:visited {
                color: whitesmoke;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:hover {
                color: yellow;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:active {
                color: yellow;
                background-color: transparent;
                text-decoration: none;
    }

main {
    padding: 15px;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: black;
    text-align: center;
    padding-bottom: 30px;
    align-items: center;
    
    }
    .welcome {
        color: white;
        text-align: center;
        font-size: large;
    }

.mainIndex {
    display: flex;
    align-content: stretch;
    width: 100%;
}
    .indexFotos {
        display: flex;
        align-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;    

    }

    .indexfoto1:hover {
        transform: scale(1.1);
    }

    .indexfoto2:hover {
        transform: scale(1.1);
    }

    .indexfoto3:hover {
        transform: scale(1.1);
    }

    .indexfoto4:hover {
        transform: scale(1.1);
    }

    .linkPrueba {
        color: red !important;
        text-decoration: underline;
    }
aside {
    grid-area: aside;
    background-color: black;
    text-align: center;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    height: 270px;
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapa {
    display: flex;
        align-items: center;
    width: 60%;
    justify-content: space-around;
}
.datos {
    padding-left: 30px  ;
    text-align: center;
        display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-end
    
}

.redes {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.redesIMG {
    height: 100px;
    text-align: center;

}
.linkRedes {
    display: flex;
    flex-direction: column;
}

.formulario {
    line-height: 1.4;
    align-content: center;
    width: 80%;
    justify-content: center;
    background-color: rgb(172, 7, 7);
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 40px 40px 120px 120px 40px;
    grid-template-areas: "nombre apellido"
                         "email telefono"
                         "sexo actividad"
                         "actFisico actFisico"
                         "button button";
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.nombre {
        grid-area: nombre;
}

.formulario1 {
    grid-area: apellido;
}

.email {
    grid-area: email;
}

.telefono {
    grid-area: telefono;
}

.sexo {
    grid-area: sexo;
    padding-bottom: 15px;
    padding-top: 15px;

}

.actividad {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;  
    flex-direction: column;
    grid-area: actividad;
}


.actFisico {
    grid-area: actFisico;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.buttonEnviar{
    display: flex;
    justify-content: center;

}
.button {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: button;
}



@media(max-width:910px) {
    nav {
        display: flex;
background-color: black;
flex-direction: row;
    }
nav .fa-bars{
    font-size: 24px ;
    display: block;
    color: white;
    padding-right: 40px;
}
nav .menuLogo {
    padding-left: 15px;
}
nav .menuLink {
padding-right: 25px;
align-items: flex-end;
    flex-direction: column;
    height: 150px;
}
}   
footer {
    height: 600px;
    flex-direction: column;
}


@media(max-width:520px) {
    nav {
background-color: black;   }
footer {
    height: 800px;
    flex-direction: column;
}
footer .mapa {
    flex-direction: column;
}
}

@media(max-width:390px) {
 nav .menuLogo {
    width: 180px;
 }
}

.animation{
    align-items: center;
    display: flex;
    width: 100%;
}
.linea {
    width: 50px;
    height: 7px;
    background-color: red;
    animation-name: mover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes mover {
    0% {
        transform: translate(0,0);
    }
    
    100% {
        transform: translate(2000px ,0);
        background-color: black;
    }
}

.card {
    color: black;
    height: auto;
    width: 200px;
}

.card img {
    height: 200px;
    width: 200px;
}