body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
display: grid;    
grid-template-columns: repeat(4,1fr);
grid-template-rows: 150px auto auto auto;
grid-template-areas: "nav   nav      nav    nav"
                     "main  main    main    main"
                     "aside  aside  aside    aside"
                     "footer footer footer footer";
gap: 1px;

color: white;
}

nav {
    grid-area: nav;
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
        display: flex;
}

    .menuLogo {    
    width: 15%;
    display: flex;
    justify-content: center;
    }

    .menuLink {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 85%;
        }

            a:link {
                color: white;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:visited {
                color: whitesmoke;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:hover {
                color: yellow;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:active {
                color: yellow;
                background-color: transparent;
                text-decoration: none;
    }

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: black;
    text-align: center;
    padding-bottom: 30px;
    
    }
    .welcome {
        color: white;
        text-align: center;
        font-size: large;
    }

.mainIndex {
    display: flex;
    align-content: stretch;
    width: 100%;
}
    .indexFotos {
        display: flex;
        align-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .linkPrueba {
        color: red !important;
        text-decoration: underline;
    }
aside {
    grid-area: aside;
    background-color: black;
    text-align: center;
    color: white;
}

footer {
    height: 270px;
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapa {
    display: flex;
        align-items: center;
    width: 50%;
    justify-content: space-around;
}
.datos {
        display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-end
    
}

.redes {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.redesIMG {
    height: 100px;
    text-align: center;

}
.linkRedes {
    display: flex;
    flex-direction: column;
}

.formulario {
    align-content: center;
    width: 80%;
    justify-content: center;
    background-color: rgb(172, 7, 7);
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: repeat(5, 60px);
    grid-template-areas: "nombre apellido"
                         "email telefono"
                         "sexo actividad"
                         "actFisico actFisico"
                         "button button";
    justify-content: space-evenly;
    align-items: center;
}

.nombre {
        grid-area: nombre;
}

.formulario1 {
    grid-area: apellido;
}

.email {
    grid-area: email;
}

.telefono {
    grid-area: telefono;
}

.sexo {
    grid-area: sexo;
    padding-bottom: 15px;
    padding-top: 15px;

}

.actividad {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;  
    flex-direction: column;
    grid-area: actividad;
}


.actFisico {
    grid-area: actFisico;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}

.buttonEnviar{
    display: flex;
    justify-content: center;

}
.button {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: button;
}
